@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{

}
body{
    background-color: rgb(0, 0, 0);
}
.title_index{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
    color: aliceblue;
    margin-top: 25px;
}
.text_index{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    color: antiquewhite;
}
.main_produtos_content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;    
}
.main_produtos_content .card{
    flex-basis: calc(25% - 15px);
    flex-grow: 1;
}
.main_produtos_content .card img{
    height: 250px;
}
.main_sobre_content{
    color: white;
    margin: 20px 100px;
    line-height: 1.5;
}
.sobre_contanto{
    border: 1px solid white;
    padding: 15px;
    width: 40%;
}
.mb-3{
    display: flex;
    flex-direction: column;
}
.mb-3 input{
    width: 100%;
}
.mb-3 textarea{
    width: 100%;
    height: 250px;
}
.breadcrumb .active{
    color: rgb(157, 158, 158);
}
.sobre_imgs{
    display: flex;
    gap: 15px;
    flex-grow: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sobre_imgs .sobre_img{
    flex-basis: calc(50% - 15px);
    display: block;
    height: 500px;
}
.carrinho{
    padding: 0;
    padding-right: 30px;
}
.carrinho img{
    width: 30px;
    height: 30px;
}
.hero{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}